<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Metro style web page template created by SliceMaker products.</title>

<link rel="stylesheet" type="text/css" href="../../../../../metro-style-html-template/css/example.css" />

<!--[if lte IE 6]>
    <script type="text/javascript" src="../../../../../metro-style-html-template/js/DD_belatedPNG_0.0.8a.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

<script type="text/javascript" src="../../../../../metro-style-html-template/js/gl_function.js"></script>
<script type="text/javascript" src="../../../../../metro-style-html-template/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../../../../../metro-style-html-template/js/jquery.slide.js"></script>


</head>
<body>
<form action="" method="post" onsubmit=''>
  <center>
         <div id="example_1">
          <div id="example_9"><a href='http://www.slicemaker.com' target='_self' title='Visit our homepage - SliceMaker Soft'><img id='img_9' src='../../../../../metro-style-html-template/images/example/example_9.png' width='370' height='138' border='0'  onmouseover="$(this).attr('src','images/example/logo-hover-image.png');" onmouseout="this.src='images/example/example_9.png';"/></a></div>
          <div id="example_10"><a href='example.html' target='_self' title=''><img id='img_10' src='../../../../../metro-style-html-template/images/example/example_10.png' width='139' height='140' border='0'  onmouseover="$(this).attr('src','images/example/nav-item-hover-1.png');" onmouseout="this.src='images/example/example_10.png';"/></a></div>
          <div id="example_11"><a href='example.html' target='_self' title=''><img id='img_11' src='../../../../../metro-style-html-template/images/example/example_11.png' width='138' height='140' border='0'  onmouseover="$(this).attr('src','images/example/nav-item-hover-2.png');" onmouseout="this.src='images/example/example_11.png';"/></a></div>
          <div id="example_12"><a href='example.html' target='_self' title=''><img id='img_12' src='../../../../../metro-style-html-template/images/example/example_12.png' width='137' height='140' border='0'  onmouseover="$(this).attr('src','images/example/nav-item-hover-3.png');" onmouseout="this.src='images/example/example_12.png';"/></a></div>
          <div id="example_13"><a href='example.html' target='_self' title=''><img id='img_13' src='../../../../../metro-style-html-template/images/example/example_13.png' width='142' height='140' border='0'  onmouseover="$(this).attr('src','images/example/nav-item-hover-4.png');" onmouseout="this.src='images/example/example_13.png';"/></a></div>
          <div id="example_14"><a href='example.html' target='_self' title=''><img id='img_14' src='../../../../../metro-style-html-template/images/example/example_14.png' width='142' height='140' border='0'  onmouseover="$(this).attr('src','images/example/nav-item-hover-5.png');" onmouseout="this.src='images/example/example_14.png';"/></a></div>
     </div>
     <div id="example_2">
          <div id="example_15">
          	<div class="w_ctr_15">
          		<div class="JQ-slide">
          			<ul class="JQ-slide-content">
          				<li><a href="example.html"><img src="../../../../../metro-style-html-template/images/example/banner-image-1.png" width="800" height="418" alt=""/><span></span></a></li>
          				<li><a href="example.html"><img src="../../../../../metro-style-html-template/images/example/banner-image-2.png" width="800" height="418" alt=""/><span></span></a></li>
          				<li><a href="example.html"><img src="../../../../../metro-style-html-template/images/example/banner-image-3.png" width="800" height="418" alt=""/><span></span></a></li>
          			</ul>
          			<ul class="JQ-slide-nav">
          				<li class="on">1</li>
          				<li>2</li>
          				<li>3</li>
          			</ul>
          		</div>
          	</div>
          	<script type="text/javascript">
          		$(function (){

          			$(".w_ctr_15 .JQ-slide").Slide({
          			effect:"scroolX",
          			speed:"normal",
          			timer:5000
          			});
          		
          		});
          	</script>
          </div>
          <div id="example_16" onClick="$('#example_16').css('background-image','none');">
               <div id="example_23">SliceMaker Tutorial:</div>
               <div id="example_19">HOW TO EMPTY BACKGROUND?</div>
               <div id="example_20">Through this metro style HTML template, we'd like to teach you how to empty background by using SliceMaker products. <br />
When you clicks the right white area next to the banner images,&nbsp;the white background will be empty. This is not a frequently-used&nbsp;JavaScript function but we still want to introduce it to you and hope you will&nbsp;understand how to achieve this kind of effect.&nbsp;<br /></div>
               <div id="example_21"><a href='http://www.slicemaker.com/product_user_guide_view_508.htm' target='_self' title=''><img id='img_21' src='../../../../../metro-style-html-template/images/example/example_21.png' width='137' height='45' border='0'  onmouseover="$(this).attr('src','images/example/banner-hover-button.png');" onmouseout="this.src='images/example/example_21.png';"/></a></div>
          </div>
     </div>
     <div id="example_3">
          <div id="example_24">
               <div id="example_27"><img id='img_27' src='../../../../../metro-style-html-template/images/example/example_27.png' width='79' height='65' border='0'  /></div>
               <div id="example_30">Creative Solution</div>
               <div id="example_33">SliceMaker products provides you with the creative and innovative way to create a web page or a website. You can easily create unique and professional web page or website on your own with SliceMaker prroducts.</div>
               <div id="example_36"><a href='http//www.slicemaker.com' target='_self' title='View our Homepage to Learn More'><img id='img_36' src='../../../../../metro-style-html-template/images/example/example_36.png' width='50' height='49' border='0'  onmouseover="$(this).attr('src','images/example/hovered-arrow-1.png');" onmouseout="this.src='images/example/example_36.png';"/></a></div>
          </div>
          <div id="example_25">
               <div id="example_28"><img id='img_28' src='../../../../../metro-style-html-template/images/example/example_28.png' width='83' height='81' border='0'  /></div>
               <div id="example_31">Easy and Fast</div>
               <div id="example_34">Without writing DIV and CSS mannually, you just need a web design image and then import the design image into SliceMaker products to create a web page easily and fast. Click the below button to view the web page templates created by SliceMaker products, they are all free.<br></div>
               <div id="example_37"><a href='http://www.slicemaker.com/sample/page-1.html' target='_self' title='View the Templates Created by SliceMaker Soft'><img id='img_37' src='../../../../../metro-style-html-template/images/example/example_37.png' width='48' height='49' border='0'  onmouseover="$(this).attr('src','images/example/hovered-arrow-2.png');" onmouseout="this.src='images/example/example_37.png';"/></a></div>
          </div>
          <div id="example_26">
               <div id="example_29"><img id='img_29' src='../../../../../metro-style-html-template/images/example/example_29.png' width='80' height='66' border='0'  /></div>
               <div id="example_32">Technical Support</div>
               <div id="example_35">If you cannot create a web page or have problems using SliceMaker products, please feel free to contact us. We promise to our customers we will try our best to solve whatever problem you are having within 24 hours even if you are a freetrial user. [Support: <a href="mailto:support@slicemaker.com">support@slicemaker.com</a>]<br></div>
               <div id="example_38"><a href='http://www.slicemaker.com/inner_150.htm' target='_self' title='View more support options'><img id='img_38' src='../../../../../metro-style-html-template/images/example/example_38.png' width='50' height='49' border='0'  onmouseover="$(this).attr('src','images/example/hovered-arrow-3.png');" onmouseout="this.src='images/example/example_38.png';"/></a></div>
          </div>
     </div>
     <div id="example_4">
          <div id="example_39">Some Tutorials of SliceMaker Soft</div>
          <div id="example_71">
               <div id="example_40" onmouseover="$('#example_40').css('background-image','url(images/example/tutorial-list-hover-bg.png)');" onmouseout="$('#example_40').css('background-image','url(images/example/tutorial-list-bg.png)');">
                    <div id="example_54">Change Image on Hover</div>
                    <div id="example_62">This article will use an easy example to help you understand how to change an image on hover. You can create image hover effect for your web page within several simple clicks.</div>
                    <div id="example_66"><a href='http://www.slicemaker.com/product_user_guide_view_505.htm' target='_self' title='How to Change Image on Hover?'><img id='img_66' src='../../../../../metro-style-html-template/images/example/example_66.png' width='91' height='30' border='0'  onmouseover="$(this).attr('src','images/example/read-more-hover-1.png');" onmouseout="this.src='images/example/example_66.png';"/></a></div>
               </div>
               <div id="example_41" onmouseover="$('#example_41').css('background-image','url(images/example/tutorial-list-hover-bg.png)');" onmouseout="$('#example_41').css('background-image','url(images/example/tutorial-list-bg.png)');">
                    <div id="example_72">Change Background on Hover</div>
                    <div id="example_63">Through this article, you will learn the easiest way to change background on your webpage using JavaScript even if you are unfamiliar with programming.</div>
                    <div id="example_67"><a href='http://www.slicemaker.com/product_user_guide_view_503.htm' target='_self' title='How to Change Background on Hover?'><img id='img_67' src='../../../../../metro-style-html-template/images/example/example_67.png' width='90' height='30' border='0'  onmouseover="$(this).attr('src','images/example/read-more-hover-1.png');" onmouseout="this.src='images/example/example_67.png';"/></a></div>
               </div>
               <div id="example_42" onmouseover="$('#example_42').css('background-image','url(images/example/tutorial-list-hover-bg.png)');" onmouseout="$('#example_42').css('background-image','url(images/example/tutorial-list-bg.png)');">
                    <div id="example_56">Show or Hide DIV</div>
                    <div id="example_64">This article will teach you how to show or hide a DIV with SliceMaker products. You can show or hide DIV within several simple clicks, it is very easy.</div>
                    <div id="example_68"><a href='http://www.slicemaker.com/product_user_guide_view_541.htm' target='_self' title='How to Show or Hide DIV?'><img id='img_68' src='../../../../../metro-style-html-template/images/example/example_68.png' width='91' height='30' border='0'  onmouseover="$(this).attr('src','images/example/read-more-hover-1.png');" onmouseout="this.src='images/example/example_68.png';"/></a></div>
               </div>
               <div id="example_43" onmouseover="$('#example_43').css('background-image','url(images/example/tutorial-list-hover-bg.png)');" onmouseout="$('#example_43').css('background-image','url(images/example/tutorial-list-bg.png)');">
                    <div id="example_57">Create Tabbed Content</div>
                    <div id="example_65">This is a video tutorial of SliceMaker Products. Through this video tutorial, we will teach you how to create tabbed content with SliceMaker products.</div>
                    <div id="example_69"><a href='http://www.slicemaker.com/product_user_guide_view_534.htm' target='_self' title='How to Create Tabbed Content with SliceMaker Products?'><img id='img_69' src='../../../../../metro-style-html-template/images/example/example_69.png' width='91' height='30' border='0'  onmouseover="$(this).attr('src','images/example/read-more-hover-1.png');" onmouseout="this.src='images/example/example_69.png';"/></a></div>
               </div>
          </div>
     </div>
     <div id="example_5">
          <div id="example_73">
          </div>
          <div id="example_74">
               <div id="example_75">Why Choose SliceMaker Products?</div>
               <div id="example_76">
                    <div id="example_77">
                         <div id="example_79">
                         </div>
                         <div id="example_83">Free Download SliceMaker Products and then you have 30 days freetrial without any functional limitation.</div>
                         <div id="example_80">
                         </div>
                         <div id="example_84">SliceMaker products can help you create an exceptional and unique web page easily and fast.&nbsp;&nbsp;<br /></div>
                    </div>
                    <div id="example_78">
                         <div id="example_81">
                         </div>
                         <div id="example_85">Absolutely the new and innovative way to create a web page or website. It is your right choice to choose SliceMaker products.</div>
                         <div id="example_82">
                         </div>
                         <div id="example_86">24/7 customer technical support even for free trial and giveaway users. Your satisfication is always our goal.<br></div>
                    </div>
               </div>
          </div>
     </div>
     <div id="example_6">
          <div id="example_87">Our Clients</div>
          <div id="example_88">
               <div id="example_90"><img id='img_90' src='../../../../../metro-style-html-template/images/example/example_90.png' width='172' height='75' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-1.png');" onmouseout="this.src='images/example/example_90.png';"/></div>
               <div id="example_91"><img id='img_91' src='../../../../../metro-style-html-template/images/example/example_91.png' width='201' height='75' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-2.png');" onmouseout="this.src='images/example/example_91.png';"/></div>
               <div id="example_92"><img id='img_92' src='../../../../../metro-style-html-template/images/example/example_92.png' width='242' height='75' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-3.png');" onmouseout="this.src='images/example/example_92.png';"/></div>
               <div id="example_93"><img id='img_93' src='../../../../../metro-style-html-template/images/example/example_93.png' width='182' height='75' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-4.png');" onmouseout="this.src='images/example/example_93.png';"/></div>
          </div>
          <div id="example_89">
               <div id="example_94"><img id='img_94' src='../../../../../metro-style-html-template/images/example/example_94.png' width='216' height='77' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-5.png');" onmouseout="this.src='images/example/example_94.png';"/></div>
               <div id="example_95"><img id='img_95' src='../../../../../metro-style-html-template/images/example/example_95.png' width='194' height='77' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-6.png');" onmouseout="this.src='images/example/example_95.png';"/></div>
               <div id="example_96"><img id='img_96' src='../../../../../metro-style-html-template/images/example/example_96.png' width='199' height='77' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-7.png');" onmouseout="this.src='images/example/example_96.png';"/></div>
               <div id="example_97"><img id='img_97' src='../../../../../metro-style-html-template/images/example/example_97.png' width='186' height='77' border='0'   onmouseover="$(this).attr('src','images/example/client-hover-8.png');" onmouseout="this.src='images/example/example_97.png';"/></div>
          </div>
     </div>
     <div id="example_7">
          <div id="example_98">
               <div id="example_99"><h2>About Us</h2>
Founded in 2010, SliceMaker has expanded its business rapidly. This company is focused on providing consumers with innovative and comprehensive webpage making software for easier and efficient webpage making. <br></div>
               <div id="example_100">
                    <div id="example_103"><h2>Glossary</h2></div>
                    <div id="example_104">
                         <div id="example_105"><a href='example.html' target='_self' title=''><img id='img_105' src='../../../../../metro-style-html-template/images/example/example_105.png' width='60' height='26' border='0' /></a></div>
                         <div id="example_106"><a href='example.html' target='_self' title=''><img id='img_106' src='../../../../../metro-style-html-template/images/example/example_106.png' width='82' height='26' border='0' /></a></div>
                         <div id="example_107"><a href='example.html' target='_self' title=''><img id='img_107' src='../../../../../metro-style-html-template/images/example/example_107.png' width='77' height='26' border='0' /></a></div>
                    </div>
                    <div id="example_108">
                         <div id="example_113"><a href='example.html' target='_self' title=''><img id='img_113' src='../../../../../metro-style-html-template/images/example/example_113.png' width='69' height='27' border='0' /></a></div>
                         <div id="example_114"><a href='example.html' target='_self' title=''><img id='img_114' src='../../../../../metro-style-html-template/images/example/example_114.png' width='58' height='27' border='0' /></a></div>
                         <div id="example_115"><a href='example.html' target='_self' title=''><img id='img_115' src='../../../../../metro-style-html-template/images/example/example_115.png' width='56' height='27' border='0' /></a></div>
                    </div>
                    <div id="example_109">
                         <div id="example_110"><a href='example.html' target='_self' title=''><img id='img_110' src='../../../../../metro-style-html-template/images/example/example_110.png' width='58' height='25' border='0' /></a></div>
                         <div id="example_111"><a href='example.html' target='_self' title=''><img id='img_111' src='../../../../../metro-style-html-template/images/example/example_111.png' width='47' height='25' border='0' /></a></div>
                         <div id="example_112"><a href='example.html' target='_self' title=''><img id='img_112' src='../../../../../metro-style-html-template/images/example/example_112.png' width='52' height='25' border='0' /></a></div>
                    </div>
               </div>
               <div id="example_101">
                    <div id="example_116"><h2>News</h2></div>
                    <div id="example_117">
                         <div id="example_120">
                         </div>
                         <div id="example_121">SliceMaker News</div>
                    </div>
                    <div id="example_118">
                         <div id="example_122">
                         </div>
                         <div id="example_123">SliceMaker News</div>
                    </div>
                    <div id="example_119">
                         <div id="example_124">
                         </div>
                         <div id="example_125">SliceMaker News</div>
                    </div>
               </div>
               <div id="example_102">
                    <div id="example_126"><h2>Contact Us for Help</h2></div>
                    <div id="example_127">If you have problems when using our software, we want to hear from you. Send us an email that describes the problem you're having and include a screenshot if possible. [Support Email Address: <a href="mailto:support@slicemaker.com">support@slicemaker.com</a>]<br></div>
               </div>
          </div>
     </div>
     <div id="example_8">
          <div id="example_128">
               <div id="example_129">Copyright © SliceMaker Soft, Inc. All Rights Reserved.</div>
          </div>
     </div>

  </center>
</form>
</body>
</html>
