<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Project Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Project Manager</h1>

<h2>Home Page</h2>
<div th:if="${projectCreateError==false}"><span style="color: #fe9f00" th:text="${project.title}"></span></div>
<table>
    <tr>
        <td>Title</td>
        <td>Description</td>
    </tr>
<tr th:each="project : ${userProjects}">
    <td th:text="${project.title}"></td>
        <td th:text="${project.description}"></td>
</tr>
</table>
</body>
</html>