<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Project Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Update Project</h2>
<form action="#" th:action="@{/{project_id}/update_project(project_id=1)}" th:object="${project}" method="post">
    <div id="example_20">
        <table style="color:#408080; font-family:Arial, 'Times New Roman',Times, serif;">
            <tr>
                <td style="font-size: 18px">Title</td>
                <td style="font-size: 18px; padding: 10px"><input style="font-size: 14px" type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td style="font-size: 18px">Description</td>
                <td style="font-size: 18px; padding: 10px"><input style="font-size: 14px" type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td style="font-size: 18px">State</td>
                <td style="font-size: 18px; padding: 10px"><input style="font-size: 14px" type="text" th:field="*{state}"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div th:if="${projectUpdateError}"><span style="color: #ff0000"
                                                            th:text="${badException.message}"></span></div>
                </td>
            </tr>
        </table>

        <br/></div>
    <div id="example_21"><input type="submit"
                                style="background-color:#1e8bc3; width: 137px; height: 45px; border: 0px; color: white; font-size: 18px; cursor: pointer "
                                value="Update Project"/></div>
</form>
</body>
</html>